{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'orders:all' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Order Confirmation</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>
<div class = "mainContent" id = "main">
  <div class = "menu" id = "menu"> 

  <h2>Your Cart</h2>
  <div class = "introduce">

    {% for name, num in cart_list %}
    <div class = "card">

    <ul>
      <li>
      {{name}}: {{num}}
      </li>
    </ul>
    </div>
    {% endfor %}
  </div>
  <h2>Your Information</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'orders:all' %}';return false;">
  </form>
  </div>
</div>
{% endblock %}
