{% extends "base_bootstrap.html" %}
{% load static %} 
{% load humanize %} 

{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'orders:all' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Order Meals Online</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>
<div class = "mainContent" id = "main">

  <div class = "menu" id = "menu"> 

  <h2>Menu</h2>
{% if meal_list %}
<div class = "introduce">


  {% for meal in meal_list %}
  <div class = "card">
    <ul>
      <li>
      <div id = "form">
      <form action="{% url 'orders:all' %}" class = "addtocart" method="get">
        <h3> {{ meal.name }} {{ meal.price }}$ {{meal.calories}}kcal</h3>
      <div id = "press">
      <label for="{{meal.name}}">num: </label>
      <select name="n" id = "{{meal.name}}">
        {% for i in num_list %}
        {% if i == 1 %}
        <option selected="selected">{{i}}</option>
        {% else %}
        <option>{{i}}</option>
        {% endif %}
        {% endfor %}
      </select>
      <button name="m" value={{meal.id}}>add to cart</button>
     </div>
      <div class="column">
        <img src="{% static 'images/dishes/'|add:meal.image_url %}" alt="{{meal.name}}">
      </div>
      </form>
    </div>
      <p>
      {{ meal.introdution }}</p>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>

{% endif %}
  </div>

<div class = "menu"> 
<h2>Your Cart</h2>

{% if err_msg %}
<h3>
{{err_msg}}
</h3>
{% elif cart_list %}
<div class = "control">
  <form action="{% url 'orders:all' %}" method="get">
  <button name="d" type="submit" value="all">clean cart</button>
  </form>
  <form action="{% url 'orders:order_create' %}" method="get">
  <button name="s" type="submit" value="OK">place order</button>
  </form>
  <h3>total price: {{ price }}$</h3>
</div>

<div class = "introduce" id = "cart">

  {% for meal, num in cart_list %}
  <div class = "card">
    <h3>{{meal.name}}: {{meal.price}}$</h3>
    {{meal.calories}}
    {{meal.ratio.calories}}%
    <form action="{% url 'orders:all' %}" class = "changenum" method="get">
    <label for="{{meal.name}}-select">num: </label>
    <select name="n" id = "{{meal.name}}-select">
      {% for i in num_list %}
        {% if i == num %}
        <option selected="selected">{{i}}</option>
        {% else %}
        <option>{{i}}</option>
        {% endif %}
      {% endfor %}
    </select>
    <button name="m" type="submit" value={{meal.id}}>change num</button>
    </form>
    <div class="column">
      <img src="{% static 'images/dishes/'|add:meal.image_url %}" alt="{{meal.name}}">
    </div>
    <form action="{% url 'orders:all' %}" method="get">
      <button name="d" type="submit" value={{id}}>delete</button>
    </form>
  </div>
  {% endfor %}

</div>
{% endif %}
</div>

</div>
<script src = "{% static 'js/form.js' %}"></script>
{% endblock %}
