{% extends "base_bootstrap.html" %}
{% load static %} 
{% load humanize %} 

{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'orders:all' %}">Order</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'hist' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>History of Orders & Reservations</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>

<div class = "mainContent" id = "main">
<h1>Hi! {{username}}</h1>

<div class = "menu" id = "menu"> 

<h2>Order History</h2>
{% if order_list %}
<div class = "introduce">
  {% for odr, tm, ml, pr in order_list %}
    <div class = "card">
    <p>
    {{tm}} : ${{pr}} {% if odr.delivered %}delivered @ {{odr.delivered_at}}{% else %}prepairing...{% endif %}
    </p>
    <ul>
      {% for m, n in ml %}
      <li>
      {{m}}: {{n}}
      </li>
      {% endfor %}
    </ul>
    </div>
  {% endfor %}
</div>
{%else%}
No order
{% endif %}

<h2>Reservations History</h2>
{% if reserve_list %}
<div class = "introduce">
  {% for d, h, t in reserve_list %}
    <div class = "card">
    <ul>
    <li>
    {{d}} {{h}}:00 {{t}} </li>
    </div>
  </ul>
  {% endfor %}
</div>
{%else%}
No order
{% endif %}
</div>
</div>
{% endblock %}
