{% extends "base_bootstrap.html" %}
{% load static %} 
{% load humanize %} 
{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'orders:all' %}">Order</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'index' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Order Management</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>

<div class = "mainContent" id = "main">
  <div class = "menu" id = "menu">
<h2>Order List</h2>
{% if order_list %}
<div class = "introduce">

  {% for order, meal_list, pr in order_list %}
    <div class = "card">
    <h3>Meal list</h3>
    <h4>User: {{order.owner}} Time: {{order.created_at}} </h4>
    <ul>
    {% for mn in meal_list %}
      <li>
      {{ mn.meal }}: {{ mn.num }}
      </li>
    
    {% endfor %}
    </ul>
    <form action="{% url 'manage' %}" method="get">
    <button name="c" type="submit" value={{order.id}}>deliver</button>
    </form>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>There are no orders in the database.</h3>
{% endif %}


<h2>Today's reserve List</h2>
{% if reserve_list %}
<div class = "introduce">

  {% for reserve in reserve_list %}
    <div class = "card">
      <h4>User: {{reserve.custom}} Time: {{reserve.time}}</h4>
        <p>{{reserve.table}}
    (<a href="{% url 'reserves:reserve_delete' reserve.id %}?next={% url 'manage' %}">Delete</a>)</p>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>There are no reservations in the database.</h3>
{% endif %}

</div>
</div>
{% endblock %}
