{% extends "base_bootstrap.html" %}
{% block content %}
<h1>Reserve</h1>
<p>
<h2>Your Reservations</h2>
{% if reserve_list %}
<ul>
  {% for reserve in reserve_list %}
    {% if reserve.owner == user %}
    <li>
        <a href="{% url 'reserves:reserve_detail'  reserve.id %}">{{ reserve.date }} {{ reserve.hour }}:00</a>
        (<a href="{% url 'reserves:reserve_delete' reserve.id %}">Delete</a>)
        </p>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no reserves in the database.</p>
{% endif %}

<form action="{% url 'reserves:all' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
<p>
{% if rest_small >= 0 %}
<b>Match Reservations</b>
<p>
small tables: {{ rest_small }}
big tables: {{ rest_big }}
{% elif rest_small == -3 %}
Please don't enter past date!
{% elif rest_small == -2 %}
Please enter in legal form YYYY-MM-DD.hour (like: 1996-03-26.1)
{% endif %}

</p>
<p>
<a href="{% url 'reserves:reserve_create' %}">Add an Reserve</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'reserves:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'reserves:all' %}">Login</a>
{% endif %}
</p>
<p>
<a href="{% url 'reserves:all' %}">Home</a> |
{% endblock %}
