{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'orders:all' %}">Order</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'orders:all' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Reservation Confirmation</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>

<div class = "mainContent" id = "main">
  <div class = "menu" id = "menu">
    <h2>Your Reservation</h2>
    <p>Date : {{date}}</p>
    <p>Time : {{hour}}</p>
    <p>Table Type : {{table_type}}</p>
  </div>
    <div class = "menu" id = "menu">
    <h2>Your Information</h2>
    <form class="login" action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit">
      <input type="submit" value="Cancel" onclick="window.location.href='{% url 'reserves:all' %}';return false;">
    </form>
  </div>
</div>
{% endblock %}
