{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{{ form.media }}
{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'reserves:all' %}">Reservation</a></li>
      <li><a href="{% url 'orders:all' %}">Order</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'orders:all' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Reservation Delete</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>
<div class = "mainContent" id = "main">
  <div class = "menu" id = "menu">
    <h3>Are you sure you want to delete the reserve: {{ reserve.table.category }} {{ reserve.table.name }} @ {{ reserve.time }}?</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete.">
    </form>
  </div>
</div>
{% endblock %}
