{% extends "base_bootstrap.html" %}
{% load static %} 
{% load humanize %} 
{% block content %}
<header class="general">
<div class="nav">
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'hist' %}">History</a></li>
      <li><a href="{% url 'orders:all' %}">Order</a></li>
      <li><a href="{% url 'logout' %}?next={% url 'orders:all' %}">Log out</a></li>
    </ul>
  </nav>
</div>

<div class = "typewriter">
<h1>Make Reservations Online</h1></div>
<p>Address: 2771 Plymouth Rd, Ann Arbor, MI 48105(734)-769-2748.
</br>email: business@evergreen-restaurant.com</p>
</header>
<div class = "mainContent" id = "main">
<div class = "menu" id = "menu"> 
<h2>Current Reservations</h2>
{% if reserve_list %}
<div class = "introduce">
  {% for reserve in reserve_list %}
  <ul>
  <li>
      {{ reserve.date }} {{ reserve.hour }}:00 @ Table {{reserve.table.category.name}}_{{reserve.table.name}}
      (<a href="{% url 'reserves:reserve_delete' reserve.id %}">Delete</a>)
  </li>
  </ul>
  {% endfor %}
</div>
{% else %}
  <p>There are no reserves in the database.</p>
{% endif %}
<h2>New Reservations</h2>
<h4>Please select your prefered time (12:00 - 21:00).</h4>
<form action="{% url 'reserves:all' %}" method="get">
  <input name="d" id="datetimepicker" type="text" autocomplete="off">
  <script>
    $(function () {
      $("#datetimepicker").datetimepicker();
    });
  </script>
  <input type="submit" value="Submit">
</form>
{% if err_msg %}
<p class = "err_msg">
{{err_msg}}
</p>
{% elif tb_list %}
<h4>Avalible Tables:</h4>
<div id = "seats_plan">
<img id = "background" src="{% static 'images/table/restaurant-seating-plan-noseats.png' %}" alt="background"/>
<form action="{% url 'reserves:reserve_create' %}" method="get">
<input type="hidden" name="d" value={{tm}} />
<div class = "seats">
{% for tb, val in tb_list %}
<button name="n" type="submit" class="{{tb.category}}" id = "{{tb.category}}_{{tb.name}}" value={{tb.id}}></button>
<script type="text/javascript">
  var image = document.createElement("img");
  var button = document.querySelector("#{{tb.category}}_{{tb.name}}");
  if ($("#{{tb.category}}_{{tb.name}}").attr("class") == "Small"){
    {% if val %}
    image.src = "{% static 'images/table/smalltable_free.png' %}";
    {%else%}
    image.src = "{% static 'images/table/smalltable_ocu.png' %}";
    {%endif%}

    image.alt = "small table"
    button.appendChild(image)
  }
  else if ($("#{{tb.category}}_{{tb.name}}").attr("class") == "Large"){
    {% if val %}
    image.src = "{% static 'images/table/bigtable_free.png' %}";
    {%else%}
    image.src = "{% static 'images/table/bigtable_ocu.png' %}";
    {%endif%}
    image.alt = "large table"
    button.appendChild(image)
  }
  console.log(button)
  console.log($("#{{tb.category}}_{{tb.name}}").attr("class"))

</script>
{% endfor %}
</div>
</form>
</div>
<script type="text/javascript">
  $("#seats_plan").css("height",$("#background").css("height")) 
  $("#seats_plan").css("width", $("#background").css("width")) 
</script>
{% endif %}
</div>

</div>
{% endblock %}
